@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

/* Mobile Menu Toggle */
#mobile-menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

#mobile-menu-btn.active span:nth-child(2) {
  opacity: 0;
}

#mobile-menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.seat-pattern div {
  background-color: #0307121a;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .seat-pattern div {
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 16px;
  }
}

.seat-number {
  padding: 10px 30px;
}
.selected {
  background-color: #1dd100 !important;
  color: white !important;
}
/* .removeClass
{
    display: none;
} */

.main-section {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}
